@import '../../components/layout/_defaults'

.App
    @include flex(column nowrap)
    min-height: 100vh
    font:
        family: $font
        size: $size

    a
        color: $form

    nav
        flex: 3

        ul
            @include flex(row wrap)
            list-style: none
            gap: 1rem
            justify-content: space-evenly

            li
                flex: 1 auto

                a
                    font-weight: 700
                    text-decoration: none

    header,
    footer
        flex: 0

    footer>p
        text-align: center
        margin-block: calc(1rem/2)
        font-size: 0.8rem

    main
        @include flex(column nowrap)
        flex: 1
